/*.otares
*.dcu
/src/units/__history
/src/units/IDEkeys.pas
*.local
*.identcache
*.bpl
*.dcp
*.lib
*.bpi
*.stat
*.*~*
*.exe
*.ico
*.drc
/*.dsk
/src/3p/*.dsk
/*.mes
/bin/apc.*
/unittests/bin/TestInsightSettings.ini
/*.ficfg
*.xls
*.rsm
dist
artifacts
*.log
/version.res
*.map
TestResults
Debug
*.dll
.vs